*{
    margin: 0px;
    padding: 0px;
    font-family: "Nunito Sans", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#page-header{
    height: 7%;
    width: 100%;
}

#page-header-container{
    height: 100%;
    background-color: rgb(134, 134, 134);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-header-left-span{
    color: white;
    margin-left: 1%;
}

#page-header-right-user-summary{
    height: 100%;
}

#page-header-right-notifications{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-right: 5vh;
}
#page-header-right-notifications:hover{
    cursor: pointer;
    border-radius: 30%;
    background-color: rgb(173, 170, 170);
}
#page-header-right-notifications-content{
    display: flex;
}

#page-header-right-notifications img {
    width: 25px;
    height: 25px;
}

/*makes profile picture to be right on center. ain't fabulous*/
#page-header-profile-picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-header-profile-picture img{
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

#page-header-right-user-summary{
    color: white;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#page-working-section
{
    flex-grow: 1;
    /* border-style: solid; */
    padding: 3%;
    display: flex;
}

#page-navigation-menu{
    margin-top: 1%;
}

#page-navigation-menu a{
    text-decoration: none;
}


#page-navigation-menu ul li{
    list-style-type: none;
    margin-top: 1%;
    font-size: 1.3rem;
}

#page-working-section-right{
    width: 100%;
    margin-left:10%;
}

#students-table-container{
    width: 90%;
    height: 100%;
}

#students-content-button-add{
    margin-bottom: 1%;
    float: inline-end;
}

#students-table-container table{
    width: 100%;
    border-collapse: collapse;
    letter-spacing: 1px;
}

#students-table-container th,td{

    padding: 12px 10px;
    text-align: center;
    vertical-align: middle;
}

#students-table-pagination{
    margin-top: 3%;
    text-align: center;
}

#students-table-pagination a{
    padding-left: .5%;
    padding-right: .5%;
    border: 1px solid rgb(0,0,0);
    text-decoration: none;
}

.students-table-status-green{
    width: 2vh;
    height: 2vh;
    background-color: rgb(60, 165, 60);
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.students-table-status-grey{
    width: 2vh;
    height: 2vh;
    background-color: rgb(155, 155, 155);
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.students-table-options-cell-container{
    display: flex;
    justify-content: center;
}

.students-table-options-edit-button{
    position:relative;
    padding-left: .5vh;
    padding-right: .5vh;
    margin-right: 1vh;
    width: 2vw
}

.students-table-options-edit-button img{
    width: 10px;
    height: 10px;
    transform: translate(-20%,0%);
}

.students-table-options-delete-button{
    position:relative;
    padding-left: .5vh;
    padding-right: .5vh;
    width: 2vw
}

.students-table-options-delete-button img{
    width: 10px;
    height: 10px;
    transform: translate(-20%,0%);
}

#inbox-dropdown{
    display: none;
    position: absolute;
    top: 6.5vh;
    right: 10vh;
    background-color: #f9f9f9;
    min-width: 25%;
    min-height: 40%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 1px solid;
    border-radius: 2%;
    z-index:1;

    display: flex;
    flex-direction: column;
}

.chat-user{
    margin-top: 2vh;
    margin-left: 2vh;
    width: 8vh;
    height: 11vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chat-user img{
    margin: auto;
}

.chat-user-message{
    height: 30%;
    display: flex;
}


.chat-user-message-text-container{
    position: relative;
    margin-left: auto;
    margin-right: 3%;
    margin-top: 6%;
    background-color: rgb(206, 206, 206);
    width: 70%;
    height: 7vh;
    border-radius: 5%;
    border: 1px solid rgb(0,0,0);
    text-align: center;
    justify-content: center;
}

#inbox-dropdown img{
    width: 5vh;
    height: 5vh;
}

#profile-dropdown{
    display: none;
    position: absolute;
    top: 6.5vh;
    right: 2vh;
    background-color: #f9f9f9;
    min-width: 10%;
    min-height: 30%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 1px solid;
    border-radius: 2%;
    z-index:2;

    display: flex;
    flex-direction: column;
}

#profile-dropdown  ul li{
    margin-top: 5%;
    list-style-type: none;
    margin-top: 1%;
    font-size: 1rem;
}


.confirmation-container {
    width: 30%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #404040;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.confirmation-container hr{
    background-color: #404040;
}

.confirmation-container img{
    width: 10px;
    height: 10px;

    transform: translate(0%,10%);
}

.confirmation-header{
    height: 5%;
    justify-content: space-between;
    padding:1vh;
    display: flex;
}
.confirmation-body{
    height: 20vh;
    padding:1vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}
.confirmation-footer{
    height: 5%;
    left: auto;
    padding:1vh;
    display: flex;
}

#confirmation-button-close{
    width: 25px;
    height: 25px;
    max-width: 100%;
    max-height: 100%;
}

#confirmation-button-close img{
    transform: translate(-50%,-70%);
}

.confirmation-footer{
    display: flex;
    justify-content: right;
    align-items: center;
}

.confirmation-footer button{
    margin-right: 5px;
    width: 10vh;
}

.confirmation-body{
    border: 1px solid #404040;
    border-left: none;
    border-right: none;
}

.add-student-container{
    width: 40vw;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #404040;
    border-radius: 3%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}


.add-student-container img{
    width: 10px;
    height: 10px;
    transform: translate(0%,-50%);
}

.add-student-container-header{
    height: 10vh;
    justify-content: space-between;
    padding:1vh;
    display: flex;
}
.add-student-container-header button{
    height: 4vh;
    width: 5vh;
}

.add-student-container-header h2{
    margin-top: auto;
    margin-left: 2vh;
}

.add-student-form-contents{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-student-container-body{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #404040;
    border-left: none;
    border-right: none;
}

.add-student-container-footer{
    height: 10vh;
    display: flex;
    justify-content: right;
    align-items: center;
}

.add-student-container-footer button{
    margin-top: 1.5vh;
    margin-bottom: auto;
    margin-right: 2vh;
    width: 10vh;

}

#add-student-form-container{
    display: flex;
    width: 100%;
}

#login-button{
    padding: 0;
    border: none;
    background: none;
    color: black;
}

.add-student-form-labels{
    display: flex;
    flex-direction: column;
}

.add-student-form-labels label{
    margin: 1vh;
}

.add-student-form-inputs{
    display: flex;
    flex-direction: column;
}

.add-student-form-inputs *{
    margin: 1vh;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 10;
    display: none;
}

.Circle {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: red;
    margin-left: 2.5vh;
    border-radius: 50%;
    z-index: 1;
    animation: circle-size 1s ease-in-out infinite alternate;
}

.pagination-button.active{
    background-color: #007bff;
}

@media only screen and (max-width: 768px) {
    #page-working-section
    {
        flex-direction: column ;
    }
}

@media only screen and (max-width: 768px) {
    #students-table-container table {
      display: block;
      /* overflow-x: auto; */
    }
}

@media only screen and (max-width: 768px) {
    .add-student-container {
      width: 70vw;
      display: block;
    }
}

@keyframes circle-size {
    from {
      width: 10px;
      height: 10px;
    }
    to {
      width: 15px;
      height: 15px;
    }
}

.add-student-fieldset{
    display: flex;
    flex-direction: column;
}

.add-student-fieldset label{
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
}

.add-student-fieldset input{
    width: 10vw;
    margin-left: 2vw;
}

.add-student-fieldset select{
    width: 10vw;
}

#alert-danger{
    z-index: 10000;
    visibility: hidden;
    margin-top:50px;
}

.panels{
    height: 70vh;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
}

.chat-room-container{
    display: flex;
    flex-direction: column;
}

.chat-room-header{
    display: flex;
    justify-content: space-between;
    padding-top: 1vh;
}

.chat-room-header button{
    padding: 0;
    border: none;
    background: none;
}

.chat-room-chats{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 100%;
    width: 100%;
}

.user-message{
    margin-top: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #9d9d9d;
}

.user-message.item{
    background-color: #64a8f2;
}

.user-message img{
    height: 5vh;
    width: 5vh;
    filter: invert(0);
}

.user-message span{
    margin-left: 10px;
}

.chat-form-wrapper{
    display: none;
    padding: 10px;

    border-radius: 5px;
    margin-bottom: 10px;
}

#chat-form > button{
    width: auto;
    margin-left: 10px;
}

#message-input{
    width: 37vw;
}

#chat-window{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow-y: scroll;
}

.chat-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.chat-container > div{
    background: #9d9d9d;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 20px;
    border-radius: 5px;
    color: white;

    display: flex;
    flex-direction: row-reverse;
}

.chat-container .message-sent{
    margin-left: auto;
}

.chat-container .message-recieved{
    margin-right: auto;
}

.chat-room{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background:#9d9d9d;
    color: white;
    margin: 5px;
    padding-left: 10px;
    border-radius: 10px;
    padding-right: 10px;
}

.chat-room button{
    all: unset;
}

.chat-room:hover{
    background: blueviolet;
}

.chat-room-creation-container{
    display: none;
    width: 30%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #404040;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10000;
}

.chat-room-creation-header{
    border-bottom: 1px solid #404040;
    padding: 10px;
}

.chat-room-creation-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}

.chat-room-creation-footer{
    border-top: 1px solid #404040;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}

.chat-room-creation-footer button{
    margin: 9px;
    width: 100px;
}