
$starFieldWidth: 2560;
$starFieldHeight: 2560;
$starStartOffset: 600px;

$shootingDestX: 2560;
$shootingDestY: 2560;

$starOneScrollDuration: 400s;
$starTwoScrollDuration: 425s;
$starThreeScrollDuration: 475s;
$numStarOneStars: 300;
$numStarTwoStars: 350;
$numStarThreeStars: 150;
$numComet: 10;