@import "mainstyles";
@import "stars";

$darkTheme: false;

$maintextcolor: white;
$secondarycolor: black;

@if $darkTheme{
    
    #page-header{
        #page-header-right-notifications{
            filter: invert(1);
        }
    }
    
    #login-button{
        color: white;
    }

    body{
        img{
            filter: invert(1);
        }
        a{
            color: $maintextcolor;
        }
        h2{
            color: $maintextcolor;
        }
        
        table{
            th{
                color: $maintextcolor;
            }
            td{
                color: $maintextcolor;
            }
        }
    
        .add-student-container-header{
            h2{
                color: $secondarycolor;
            }
        }

        #page-working-section {
            background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
            overflow: hidden;
        }
        #page-header-container{
            background: linear-gradient(to right,rgb(40, 35, 53),rgb(36, 25, 52));
        }

        #students-table::-webkit-scrollbar{
            background: rgb(65, 141, 255);
            border-radius: 15px;

        }
        #students-table::-webkit-scrollbar-thumb{
            background: blue;
            border-radius: 15px;
        }

        .star {
            position: absolute;
            background-color: white;
        }
    }
} @else {
    body{
        a{
            color: black;
        }
    }
}


// STARS
@function create-stars($n) {
    $stars: "#{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF";

    @for $i from 2 through $n {
        $stars: "#{$stars} , #{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF";
    }
    @return unquote($stars);
}

@mixin star-template($numStars, $starSize, $scrollSpeed) {
    z-index: 10;
    width: $starSize;
    height: $starSize;
    border-radius: 50%;
    background: transparent;
    box-shadow: create-stars($numStars);
    animation: animStar $scrollSpeed linear infinite;
    &:after {
        content: " ";
        top: -$starStartOffset;
        width: $starSize;
        height: $starSize;
        border-radius: 50%;
        position: absolute;
        background: transparent;
        box-shadow: create-stars($numStars);
    }
}

@mixin shooting-star-template($numStars, $starSize, $speed) {

    width: $starSize;
    height: $starSize + 80px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1)
    );
    animation: animShootingStar $speed linear infinite;
}

@if $darkTheme{
    html {
        height: 100%;
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            z-index: 1;
        }

        overflow: hidden;
      }
      
      .main-container {
          display: block;
          position: absolute;
      }
      

    .stars {
        @include star-template($numStarOneStars, 1px, $starOneScrollDuration);
    }
    .stars2 {
        @include star-template($numStarTwoStars, 2px, $starTwoScrollDuration);
    }
    .stars3 {
        @include star-template($numStarThreeStars, 3px, $starThreeScrollDuration);
    }
    .comet {
        @include shooting-star-template($numComet, 5px, 10s);
    }    
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-#{$starFieldHeight}px)
        translateX(-#{$starFieldWidth}px);
    }
}

@keyframes animShootingStar {
    $shootingStartX: random($limit: 1000);
    from {
        transform: translateY(0px) translateX(#{$shootingStartX}px) rotate(135deg);
        opacity: 1;
        height: 5px;
    }
    to {
        transform: translateY(#{$shootingDestY}px) translateX(#{$shootingDestX}px) rotate(135deg);
        opacity: 1;
        height: 5;
    }
}